.language-switcher {
  height: 40px;
  margin-left: 12px;
  border-radius: 999px;
  overflow: hidden;
  background: #f8fafc;
}

.language-switcher ::ng-deep .mat-button-toggle-button {
  height: 40px;
  font-weight: 900;
}
