section {
  padding: 24px;
  max-width: var(--safe-max-width, 1440px);
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

mat-card {
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 120px;
  text-align: right;
}
